/*-- scss:rules --*/
aside.sidebar.html-fill-container > .html-fill-item {
  flex: unset;
}

.quarto-dashboard .card .card-body > .h4:first-child {
  margin: 0;
}

.quarto-dashboard .card.bslib-value-box .value-box-title {
  font-size: 1.1rem;
}

#meanBox, #sdBox {
  font-size: 2rem;
}

div.callout-caution.callout-style-default>.callout-header {
  flex-direction: row;
  align-items: center;
  padding: 5px;
}

.callout.callout-style-default.callout-caution:not(.no-icon) div.callout-icon-container {
  flex: 0 1 auto;
}